# Block IntelliJ configuration files in any subfolder
**/.idea/
**/*.iml
**/out/
**/gen/

# Block compiled Java files
**/*.class

# Block OS temporary files
.DS_Store
Thumbs.db

# SQLite Database files
*.db
*.db-journal
*.db-wal
*.sqlite

# Block local dependency JAR files
**/lib/
**/libs/
*.jar

# Block cloud storage sync files
.unison.
SyncLock.*
~*

# Block application log files
*.log
**/logs/

# Maven build outputs
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Spring Boot developer tools and caches
.sts4-cache/

# VS Code environment settings
.vscode/

# Editor backup files
*.swp
*.bak

# Maven wrapper files
**/.mvn/
**/mvnw
**/mvnw.cmd

# Spring Boot, Hibernate and JPA Extensions
.h2.db
*.mv.db
*.trace.db
**/uploads/
**/storage/

# Additional IDE and System Caches
**/nbproject/
**/nbbuild/
**/dist/
Desktop.ini
.navigation/

#React and NodeJS
# Block massive dependency folders (Crucial!)
**/node_modules/
jspm_packages/

# Block production build outputs
**/build/
**/dist/

# Block local environment files (contains secret keys/API tokens)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Block npm/yarn/pnpm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Block IDE/Linter caches
.eslintcache
.stylelintcache