# Block IntelliJ configuration files in any subfolder
**/.idea/
**/*.iml
**/out/
**/gen/

# Block compiled Java files
**/*.class

# Block OS temporary files
.DS_Store
Thumbs.db

# SQLite Database files
*.db
*.db-journal
*.db-wal
*.sqlite

# Block local dependency JAR files
**/lib/
**/libs/
*.jar

# Block cloud storage sync files
.unison.
SyncLock.*
~*

# Block application log files
*.log
**/logs/